Hello <%= current_user.email %>
<%= link_to 'Create New Form', new_form_path, class: "btn btn-primary float-right" %>
<br>
<br>
<br>
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Today's Feedbacks</h5>
        <p class="card-text text-center"><%= @today.count %></p>        
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<%= column_chart Submission.group_by_day_of_week(:created_at, format: "%a").count %>

