Hello <%= current_user.email %>
<% if current_user.role == 'admin' %>
<%= link_to 'Create New Form', new_form_path, class: "btn btn-primary float-right" %>
<% end %>
<br>
<br>
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Today's Feedbacks</h5>
        <p class="card-text text-center"><%= @today.count %></p>        
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class = "row">
  <div class="col col-md col-lg mx-auto">
    <div class="text-center">
      <h4>This week's feedback's</h4>
      <%= column_chart policy_scope(Submission).group_by_day_of_week("submissions.created_at", format: "%a").count, library: {backgroundColor: "#f5f5f5"} %>
    </div>
  </div>
</div>
