<p id="notice"><%= notice %></p>

<h1>Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Contact No</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.contact %></td>
        <td><%= link_to 'Show', form_submission_path(@form, submission), remote: true %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="answer-form" style="display:none;">
</div>
