<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>    
    <p>Hello! You have received a new feedback!</p>    
  </body>
</html>