/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */

 
 @import "bootstrap";
 
 html, body {
  height: 100%
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.bottom-footer{
  position: absolute;
  bottom: 0;
  text-align: center;
}

 .question-css{
   font-size: 20px;
   font-style: italic;
 }

 .bttn-and-txt{
  background: url(sad.png)
 }


 .donate-now {
  list-style-type:none;
  margin:25px 25px 25px 25px;
  padding:0;
  
}

.donate-now li {
  float: left;
  margin:0 5px 0 0;
 width:100px;
 height:40px;
 position:relative;
}

.donate-now label, .donate-now input {
 display:block;
 position:absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
}

.donate-now input[type="radio"] {
 opacity:0.0001;
 z-index:100;
}

.donate-now label {
  padding:5px;
  border:1px solid #CCC; 
  cursor:pointer;
  z-index:90;
}

.donate-now label:hover {
  background:#DDD;
}

.donate-now input[type="radio"]:checked + label {
  background:#DDD;
}


